.apiwidtext{
    color: brown;
}

.grid-container {
    display: grid;
  grid-template-columns: auto auto auto;
  
 
  }

  .grid-item{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #f0f7fb;
    margin: 5px;
       border: solid 1px #969fa5;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 15px;
    text-align: center;
  }

  .grid-head {
      font-size: 8px;
      text-align: center;
  }

  .cityhead {
    font-size: 12px;
    text-align: center;
    color: #66b4f3;
    font-weight: bold;
    margin: 11px;
}

  .hrthin {
      border: 1px whitesmoke !important;
     
  }